app = "speedywiki-ws"
primary_region = "cdg"

[build]
  dockerfile = "./backend/Dockerfile"

[env]
  PORT = "3002"

[processes]
  app = "node websocket.js"

[[services]]
  internal_port = 3002
  processes = ["app"]

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.http_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "10s"
    method = "GET"
    path = "/"
