.footer-container {
    width: 100%;
}

.footer-top {
    height: 3rem;
    background-color: #A2D2F6;
    border: 3px solid #6d6d6d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.footer-about-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer-button {
    width: 18rem;
    height: 2rem;
    font-size: 30px;
}

.footer-content {
    background-color: #EEE6E0;
    border: 3px solid #6d6d6d;
    border-top: 0;
    text-align: center;
}

.footer-copyright {
    font-size: 30px;
}

/* Push the icons to the right */
.icons-container {
    margin-left: auto;
}

@media (max-width: 620px) {
    .footer-button {
        width: 10rem;
        font-size: 24px;
    }
}