.pic-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.pic-select-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pic-select-image {
    width: 100%;
    max-width: 210px;
    height: auto;
}

.pic-select-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: -40px;
    padding-right: 8px; /* équivalent à pr-2 en Tailwind */
}

.pic-select-button {
    height: 50px;
    width: 50px;
    z-index: 10;
}

@media (max-height: 768px) {
    .pic-select-image {
        max-width: 120px;
    }
    .pic-select-button {
        height: 40px;
        width: 40px;
    }
}

@media (max-height: 480px) {
    .pic-select-image {
        max-width: 80px;
    }

    .pic-select-button {
        height: 30px;
        width: 30px;
    }
}