@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap");
@import "tailwindcss";

html,body {
  height: 100vh;
}

.h-FULL, .root {
  height: 100%;
}


body {
  font-family: "Pixelify Sans", sans-serif;
  background-color: #6DB4B0;
}

.title {
  color: #464646;
  -webkit-text-stroke: 3px white;
  font-size: 132px;
}

.button {
  display: flex;
  background-color: #D9D9D9;
  border-color: #464646;
  border-width: 3px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.button:hover {
  background-color: #e7f6fa;
  border-color: #8f8f8f;
}

.button:active {
  background-color: #8bd9e6;
  border-color: #8f8f8f;
}

.icons-container {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-right: 2px;
  right: 0;
}

.icon {
  height: 40px;
}

.all-unset {
  all: unset;
}

@media (max-width: 1420px) {
  .title{
    font-size: 90px;
    -webkit-text-stroke: 2px white
  }
}